@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Poppins bold";
  src: url(../font/Poppins-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Poppins semibold";
  src: url(../font/Poppins-SemiBold.otf) format("truetype");
}

@font-face {
  font-family: "Poppins semibold italic";
  src: url(../font/Poppins-SemiBoldItalic.otf) format("truetype");
}

@font-face {
  font-family: "Poppins thin";
  src: url(../font/Poppins-Thin.otf) format("truetype");
}
